*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*~
TAGS
Makefile
autom4te.cache
config.h.in
config.status
configure
cppproxy.tex
cppproxy.pdf
cppproxy.html
